{% load static %}

<html lang="en">
  {% include "header.html" %}

  <body>
    {% include "sidebar.html" %} 

    <div class="main-content">
      	<div class="header">
        	<div class="container-fluid">
          		<div class="header-body">
            		<div class="row align-items-end">
              			<div class="col">
                			<h6 class="header-pretitle">
                  				Workers
                			</h6>
                			<h1 class="header-title">
                				Edit Worker Profile
                			</h1>
              			</div>
                    <div class="col-12 col-md-auto mt-2 mt-md-0">
                      <a href="/adult/workers/{{ worker.id }}" class="btn btn-danger d-block d-md-inline-block">
                        <span class="fe fe-trash-2"></span> Discard Changes
                      </a>
                      <a href="/adult/workers/{{ worker.id }}/edit" class="btn btn-primary d-block d-md-inline-block">
                        <span class="fe fe-edit"></span> Save Changes
                      </a>
                    </div>
            		</div> 
          		</div> 
        	</div>
      	</div>
      	<div class="container-fluid">
          <div class="row">
            <div class="col-lg-3">
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-header">
                      <h2 class="card-header-title">
                        Navigation Stub
                      </h2>
                    </div>
                    <div class="card-body">
                      <!-- Image -->
                      <img src="{% static 'img/avatars/profiles/avatar-2.jpg' %}" alt="" class="rounded" style="width: 100%; margin-bottom: 1rem;">
                      <button type="button" class="btn btn-primary btn-block">
                        <span class="fe fe-upload"></span> Upload Photo
                      </button>
                      <button type="button" class="btn btn-light btn-block">
                        <span class="fe fe-trash-2"></span> Discard Photo
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
            <div class="col-lg-9">
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-header">

                      <!-- Title -->
                      <h2 class="card-header-title">
                        Worker Information
                      </h2>

                    </div>
                    <div class="card-body" style="padding-top: 1rem;">
                      <div class="row">
                        <div class="col-lg-3">
                          <strong>TWID</strong>
                          <input type="text" name="twid" id="twid" value="{{ worker.twid }}" class="form-control"/>
                        </div>
                        <div class="col-lg-3">
                          <strong>Name</strong>
                          <input type="text" name="name" id="name" value="{{ worker.name }}" class="form-control"/>
                        </div>
                        <div class="col-lg-3">
                          <strong>Registration Date</strong>
                          <input type="text" name="date_worker_registered" id="date_worker_registered" value="{{ worker.date_worker_registered }}" class="form-control"/>
                        </div>
                        <div class="col-lg-3">
                          <strong>Created By</strong>
                          <p>{{ worker.created_by.username }}</p>
                        </div>
                      </div>
                      <hr />
                      <div class="row">
                        <div class="col-lg-3">
                          <strong>Gender</strong>
                          <input type="text" name="gender" id="gender" value="{{ worker.gender }}" class="form-control"/>
                        </div>
                        <div class="col-lg-3">
                          <strong>Date of Birth</strong>
                          <input type="text" name="date_of_birth" id="date_of_birth" value="{{ worker.date_of_birth }}" class="form-control"/>
                        </div>
                        <div class="col-lg-3">
                          <strong>Nationality</strong>
                          <input type="text" name="nationality" id="nationality" value="{{ worker.nationality }}" class="form-control"/>
                        </div>
                        <div class="col-lg-3">
                          <strong>Explain if Nationality is Other</strong>
                          <input type="text" name="nationality_more" id="nationality_more" class="form-control" value="N.A."/>
                        </div>
                      </div>
                      <hr/>
                      <div class="row">
                        <div class="col-lg-3">
                          <strong>Created For</strong>
                          <input type="text" name="created_for" id="created_for" class="form-control" value="N.A."/>
                        </div>
                        <div class="col-lg-3">
                          <strong>FIN Number</strong>
                          <input type="text" name="fin_number" id="fin_number" class="form-control" value="N.A."/>
                        </div>
                        <div class="col-lg-3">
                          <strong>Previous TWIDs/FINs</strong>
                          <input type="text" name="fin_previous" id="fin_previous" class="form-control" value="N.A."/>
                        </div>
                        <div class="col-lg-3">
                          <strong>When First Time in Singapore</strong>
                          <input type="text" name="when_first_arrive" id="when_first_arrive" class="form-control" value="N.A."/>
                        </div>
                      </div>
                      <hr />
                      <div class="row">
                        <div class="col-lg-3">
                          <strong>Worker Flag</strong>
                          <input type="text" name="worker_flag" id="worker_flag" class="form-control" value="Bangladesh"/>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      	</div>
    </div>

    {% include "footer.html" %}
  </body>
</html>