{% load static %}

<html lang="en">
  {% include "header.html" %}

  <body>
    {% include "sidebar.html" %} 

    <input type="hidden" id="worker-id" value="{{ worker.id }}" />

    <div class="main-content">
      	<div class="header">
        	<div class="container-fluid">
          		<div class="header-body">
            		<div class="row align-items-end">
              			<div class="col">
                			<h6 class="header-pretitle">
                  				Workers
                			</h6>
                			<h1 class="header-title">
                				Worker Profile
                			</h1>
              			</div>
                    <div class="col-12 col-md-auto mt-2 mt-md-0">
                      <a href="#!" class="btn btn-danger d-block d-md-inline-block">
                        <span class="fe fe-trash-2"></span> Delete Worker Profile
                      </a>
                      <a href="/adult/workers/{{ worker.id }}/edit" class="btn btn-primary d-block d-md-inline-block">
                        <span class="fe fe-edit"></span> Edit Worker Profile
                      </a>
                    </div>
            		</div> 
          		</div> 
        	</div>
      	</div>
      	<div class="container-fluid">
          <div class="row">
            <div class="col-lg-3">
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-header">
                      <strong class="card-header-title">
                        Navigation Stub
                      </strong>
                    </div>
                    <div class="card-body pb-2">
                      <!-- Image -->
                      <img src="{% static 'img/avatars/profiles/avatar-2.jpg' %}" alt="" class="rounded" style="width: 100%;">

                      <div class="list-group list-group-flush mt-3 mb-0">
                        <div class="list-group-item" style="border-top: 0px; padding-top: 0px;">
                          <div class="row align-items-center">
                            <div class="col">
                              <strong>TWID</strong>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-auto">
                              <p class="mb-0">{{ worker.twid }}</p>
                            </div>
                          </div>
                        </div>

                        <div class="list-group-item">
                          <div class="row align-items-center">
                            <div class="col">
                              <strong>Name</strong>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-auto">
                              <p class="mb-0">{{ worker.name }}</p>
                            </div>
                          </div>
                        </div>

                        <div class="list-group-item">
                          <div class="row align-items-center">
                            <div class="col">
                              <strong>Phone</strong>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-auto">
                              <p class="mb-0">93839053</p>
                            </div>
                          </div>
                        </div>

                        <div class="list-group-item">
                          <div class="row align-items-center">
                            <div class="col">
                              <strong>Employer</strong>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-auto">
                              <p class="mb-0">Sheng Shiong Pte. Ltd.</p>
                            </div>
                          </div>
                        </div>

                        <div class="list-group-item">
                          <div class="row align-items-center">
                            <div class="col">
                              <strong>Problem</strong>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-auto">
                              <p class="mb-0">Salary Discrimination</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-header">

                      <!-- Title -->
                      <strong class="card-header-title">
                        Job + Problem Breakdown
                      </strong>

                      <!-- Caption -->
                      <span class="text-muted mr-3">
                        <span class="badge badge-primary" style="font-size: .8125rem;">3</span> + <span class="badge badge-warning" style="font-size: .8125rem;">5</span>
                      </span>

                    </div>
                    <div class="card-body" style="padding: 0.5rem 1.5rem;">

                      <!-- List group -->
                      <div class="list-group list-group-flush mb-0">
                        <div class="list-group-item">
                          <div class="row align-items-center">
                            <div class="col">

                              <!-- Title -->
                              <ul class="navbar-nav">
                                <li class="nav-item">
                                  <a class="nav-link collapsed pt-0 pb-0" href="#sidebarDashboards" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarDashboards">
                                    <strong>Sheng Shiong Pte. Ltd.</strong>
                                  </a>
                                  <div class="collapse show" id="sidebarDashboards" style="">
                                    <ul class="nav flex-column">
                                      <li class="nav-item">
                                        <a href="./index.html" class="nav-link pb-0">
                                          • Salary Discrimination <span class="fe fe-eye" style="float: right;"></span>
                                        </a>
                                      </li>
                                      <li class="nav-item">
                                        <a href="./dashboard-project-management.html" class="nav-link  pb-0">
                                          • Project Management
                                        </a>
                                      </li>
                                      <li class="nav-item">
                                        <a href="./dashboard-ecommerce.html" class="nav-link  pb-0">
                                          • E-Commerce
                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </div> <!-- / .row -->
                        </div>
                        <div class="list-group-item">
                          <div class="row align-items-center">
                            <div class="col">

                              <!-- Title -->
                              <ul class="navbar-nav">
                                <li class="nav-item">
                                  <a class="nav-link collapsed pt-0 pb-0" href="#sidebarDashboards2" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarDashboards2">
                                    <strong>Tiger Air Pte. Ltd.</strong>
                                  </a>
                                  <div class="collapse" id="sidebarDashboards2" style="">
                                    <ul class="nav flex-column">
                                      <li class="nav-item">
                                        <a href="./index.html" class="nav-link pb-0">
                                          • Salary Discrimination 
                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                </li>
                              </ul>

                            </div>
                          </div> <!-- / .row -->
                        </div>
                        <div class="list-group-item">
                          <div class="row align-items-center">
                            <div class="col">

                              <!-- Title -->
                              <ul class="navbar-nav">
                                <li class="nav-item">
                                  <a class="nav-link collapsed pt-0 pb-0" href="#sidebarDashboards3" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarDashboards3">
                                    <strong>Ninja Van Pte. Ltd.</strong>
                                  </a>
                                  <div class="collapse" id="sidebarDashboards3" style="">
                                    <ul class="nav flex-column">
                                      <li class="nav-item">
                                        <a href="./index.html" class="nav-link pb-0">
                                          • Salary Discrimination 
                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                </li>
                              </ul>

                            </div>
                          </div> <!-- / .row -->
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-header">

                      <!-- Title -->
                      <h2 class="card-header-title">
                        QR Code
                      </h2>

                    </div>
                    <div class="card-body">
                        <img src="https://qrcode.kaywa.com/img.php?s=20&d=Hello" alt="" class="rounded" style="width: 100%;">
                    </div>
                  </div>   
                </div>
              </div>
            </div> 
            <div class="col-lg-9">
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-header">

                      <!-- Title -->
                      <strong class="card-header-title">
                        Worker Information
                      </strong>

                    </div>
                    <div class="card-body pb-2" style="padding-top: 1rem;">
                      <div class="row">
                        <div class="col-lg-3">
                          <strong>TWID</strong>
                          <p>{{ worker.twid }}</p>
                        </div>
                        <div class="col-lg-3">
                          <strong>Name</strong>
                          <p>{{ worker.name }}</p>
                        </div>
                        <div class="col-lg-3">
                          <strong>Registration Date</strong>
                          <p>{{ worker.date_worker_registered }}</p>
                        </div>
                        <div class="col-lg-3">
                          <strong>Created By</strong>
                          <p>{{ worker.created_by.username }}</p>
                        </div>
                      </div>
                      <hr class="mt-0"/>
                      <div class="row">
                        <div class="col-lg-3">
                          <strong>Gender</strong>
                          <p>{{ worker.gender }}</p>
                        </div>
                        <div class="col-lg-3">
                          <strong>Date of Birth</strong>
                          <p>{{ worker.date_of_birth }}</p>
                        </div>
                        <div class="col-lg-3">
                          <strong>Nationality</strong>
                          <p>{{ worker.nationality }}</p>
                        </div>
                        <div class="col-lg-3">
                          <strong>Explain if Nationality is Other</strong>
                          <!-- <p>{{ worker.nationality_more }}</p> -->
                          <p>N.A.</p>
                        </div>
                      </div>
                      <hr class="mt-0"/>
                      <div class="row">
                        <div class="col-lg-3">
                          <strong>Created For</strong>
                          <!-- <p>{{ worker.created_for }}</p> -->
                          <p>N.A.</p>
                        </div>
                        <div class="col-lg-3">
                          <strong>FIN Number</strong>
                          <!-- <p>{{ worker.fin_number }}</p> -->
                          <p>N.A.</p>
                        </div>
                        <div class="col-lg-3">
                          <strong>Previous TWIDs/FINs</strong>
                          <!-- <p>{{ worker.fin_previous }}</p> -->
                          <p>N.A.</p>
                        </div>
                        <div class="col-lg-3">
                          <strong>When First Time in Singapore</strong>
                          <!-- <p>{{ worker.when_first_arrive }}</p> -->
                          <p>N.A.</p>
                        </div>
                      </div>
                      <hr class="mt-0"/>
                      <div class="row">
                        <div class="col-lg-3">
                          <strong>Worker Flag</strong>
                          <!-- <p>{{ worker.worker_flag }}</p> -->
                          <p>Bangladesh</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-header">
                      <strong class="card-header-title">
                        Worker Subsidiary Information
                      </strong>
                      <span class="text-muted">
                        <a href="/adult/workers/{{ worker.id }}/twid/create" id="anchor-to-add" class="btn btn-primary btn-sm d-block d-md-inline-block">
                          <span class="fe fe-plus-circle"></span> Create <span id="button-to-add">TWID</span>
                        </a>
                      </span>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-3">
                          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical" style="">
                            {% for subsidiary_tables_row in subsidiary_tables_rows %}
                              {% if forloop.counter0 == 0 %}
                                <a class="nav-link active" id="v-pills-{{ subsidiary_tables_row.key }}-tab" data-toggle="pill" href="#v-pills-{{ subsidiary_tables_row.key }}" role="tab" aria-controls="v-pills-{{ subsidiary_tables_row.key }}" aria-selected="true" onclick="changeAddButtonName(this)" data-button-value="{{ subsidiary_tables_row.key }}">{{ subsidiary_tables_row.key }} <span style="float: right;">{{ subsidiary_tables_row.count }}</span></a>
                              {% else %}
                                <a class="nav-link" id="v-pills-{{ subsidiary_tables_row.key }}-tab" data-toggle="pill" href="#v-pills-{{ subsidiary_tables_row.key }}" role="tab" aria-controls="v-pills-{{ subsidiary_tables_row.key }}" onclick="changeAddButtonName(this)" data-button-value="{{ subsidiary_tables_row.key }}">{{ subsidiary_tables_row.key }} <span style="float: right;">{{ subsidiary_tables_row.count }}</span></a>
                              {% endif %}
                            {% endfor %}
                          </div>
                        </div>
                        <div class="col-9">
                          <div class="tab-content" id="v-pills-tabContent">
                            {% for subsidiary_tables_row in subsidiary_tables_rows %}
                              {% if forloop.counter0 == 0 %}
                                <div class="tab-pane fade show active" id="v-pills-{{ subsidiary_tables_row.key }}" role="tabpanel" aria-labelledby="v-pills-{{ subsidiary_tables_row.key }}-tab">
                                  <div class="table-responsive" data-toggle="lists" data-options="{&quot;valueNames&quot;: [&quot;facepic&quot;, &quot;twid&quot;, &quot;name-of-worker&quot;, &quot;date-of-birth&quot;, &quot;employer&quot;, &quot;problem&quot;, &quot;lead-case-worker&quot;, &quot;auxiliary-case-worker&quot;, &quot;clan-name&quot;, &quot;problem-reg-date&quot;]}" style="border-radius: 0.5rem;">
                                    <table class="table table-sm mb-0">
                                      <thead>
                                        <tr>
                                          {% for subsidiary_tables_row_column in subsidiary_tables_row.columns %}
                                            <th scope="col">
                                              <a href="#" class="text-muted sort" data-sort="twid-card-type">{{ subsidiary_tables_row_column.0 }}</a>
                                            </th>
                                          {% endfor %}
                                        </tr>
                                      </thead>
                                      <tbody class="list">
                                        {% for subsidiary_tables_row_value in subsidiary_tables_row.values %}
                                          <tr>
                                            {% for value in subsidiary_tables_row_value %}
                                              <td>{{ value }}</td> 
                                            {% endfor %}
                                          </tr>
                                        {% endfor %}
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                              {% else %}
                                
                              {% endif %}
                            {% endfor %}
                            
                            <div class="tab-pane fade" id="v-pills-nickname" role="tabpanel" aria-labelledby="v-pills-nickname-tab">..!!@@!@#!.</div>
                            <div class="tab-pane fade" id="v-pills-passport" role="tabpanel" aria-labelledby="v-pills-passport-tab">...</div>
                            <div class="tab-pane fade" id="v-pills-sg-phone-number" role="tabpanel" aria-labelledby="v-pills-sg-phone-number-tab">...</div>
                            <div class="tab-pane fade" id="v-pills-home-country-number" role="tabpanel" aria-labelledby="v-pills-home-country-number-tab">...</div>
                            <div class="tab-pane fade" id="v-pills-sg-address" role="tabpanel" aria-labelledby="v-pills-sg-address-tab">...</div>
                            <div class="tab-pane fade" id="v-pills-home-country-address" role="tabpanel" aria-labelledby="v-pills-home-country-address-tab">...</div>
                            <div class="tab-pane fade" id="v-pills-digital-contacts" role="tabpanel" aria-labelledby="v-pills-digital-contacts-tab">...</div>
                            <div class="tab-pane fade" id="v-pills-next-of-kin" role="tabpanel" aria-labelledby="v-pills-next-of-kin-tab">...</div>
                            <div class="tab-pane fade" id="v-pills-family-member-in-sg" role="tabpanel" aria-labelledby="v-pills-family-member-in-sg-tab">...</div>
                            <div class="tab-pane fade" id="v-pills-friend-in-sg" role="tabpanel" aria-labelledby="v-pills-friend-in-sg-tab">...</div>
                            <div class="tab-pane fade" id="v-pills-language" role="tabpanel" aria-labelledby="v-pills-language-tab">...</div>
                            <div class="tab-pane fade" id="v-pills-bank-account" role="tabpanel" aria-labelledby="v-pills-bank-account-tab">...</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      	</div>
    </div>
    <script type="text/javascript">
      function changeAddButtonName(e) {
        let innerHTML = e.innerHTML;
        let buttonName = innerHTML.substring(0, innerHTML.indexOf("<") - 1);
        document.getElementById("button-to-add").innerHTML = buttonName;

        let workerId = document.getElementById("worker-id").value;
        let anchorName = buttonName.replace(/\s+/g, '-').toLowerCase();
        document.getElementById("anchor-to-add").href = "/adult/workers/" + workerId + "/" + anchorName + "/create";

        return false;
      }
    </script>
    {% include "footer.html" %}
  </body>
</html>