{% load static %}

<nav
  class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light"
  id="sidebar"
>
  <div class="container-fluid">
    <!-- Toggler -->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#sidebarCollapse"
      aria-controls="sidebarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Brand -->
    <a class="navbar-brand" href="/adult">
      <img
        src="{% static 'img/logo.png' %}"
        class="navbar-brand-img mx-auto"
        alt="..."
      />
    </a>

    <!-- User (xs) -->
    <div class="navbar-user d-md-none">
      <!-- Dropdown -->
      <div class="dropdown">
        <!-- Toggle -->
        <a
          href="#"
          id="sidebarIcon"
          class="dropdown-toggle"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <div class="avatar avatar-sm avatar-online">
            <img
              src="{% static 'img/avatars/profiles/avatar-1.jpg' %}"
              class="avatar-img rounded-circle"
              alt="..."
            />
          </div>
        </a>

        <!-- Menu -->
        <div
          class="dropdown-menu dropdown-menu-right"
          aria-labelledby="sidebarIcon"
        >
          <a href="/adult/profile" class="dropdown-item">Profile</a>
          <a href="settings.html" class="dropdown-item">Settings</a>
          <hr class="dropdown-divider" />
          <a href="/logout" class="dropdown-item">Logout</a>
        </div>
      </div>
    </div>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="sidebarCollapse">
      <!-- Form -->
      <form class="mt-4 mb-3 d-md-none">
        <div class="input-group input-group-rounded input-group-merge">
          <input
            type="search"
            class="form-control form-control-rounded form-control-prepended"
            placeholder="Search"
            aria-label="Search"
          />
          <div class="input-group-prepend">
            <div class="input-group-text">
              <span class="fe fe-search"></span>
            </div>
          </div>
        </div>
      </form>

      <!-- Navigation -->
      <ul class="navbar-nav mb-md-4">
        <li class="nav-item">
          <a class="nav-link" href="/adult/workers">
            <i class="fe fe-users"></i> Workers
          </a>
        </li>
        <hr class="navbar-divider my-3" style="border: 0.5px solid #e3ebf6; width: 85%;">
        <li class="nav-item">
          <a class="nav-link " href="/adult/documents">
            <i class="fe fe-file"></i> Documents
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/adult/dropdown-values">
            <i class="fe fe-align-justify"></i> Dropdown Values
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/adult/privileges-and-permissions">
            <i class="fe fe-lock"></i> Privileges & Permissions
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/adult/users">
            <i class="fe fe-users"></i> Users
          </a>
        </li>
      </ul>

      <!-- Push content down -->
      <div class="mt-auto"></div>

      <!-- Customize -->
      <!-- <a href="/backend/upload" class="btn btn-block btn-primary mb-4">
        <strong><i class="fe fe-upload mr-2"></i> Upload Data</strong>
      </a> -->

      <!-- User (md) -->
      <div class="navbar-user d-none d-md-flex" id="sidebarUser">
        <!-- Icon -->
        <a
          href="#sidebarModalActivity"
          class="navbar-user-link"
          data-toggle="modal"
        >
          <span class="icon">
            <i class="fe fe-bell"></i>
          </span>
        </a>

        <!-- Dropup -->
        <div class="dropup">
          <!-- Toggle -->
          <a
            href="#"
            id="sidebarIconCopy"
            class="dropdown-toggle"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <div class="avatar avatar-sm avatar-online">
              <img
                src="{% static 'img/avatars/profiles/default-avatar.png' %}"
                class="avatar-img rounded-circle"
                alt="..."
              />
            </div>
          </a>

          <!-- Menu -->
          <div class="dropdown-menu" aria-labelledby="sidebarIconCopy">
            <a href="/adult/profile" class="dropdown-item">Profile</a>
            <a href="settings.html" class="dropdown-item">Settings</a>
            <hr class="dropdown-divider" />
            <a href="/logout" class="dropdown-item">Logout</a>
          </div>
        </div>

        <!-- Icon -->
        <a
          href="#sidebarModalSearch"
          class="navbar-user-link"
          data-toggle="modal"
        >
          <span class="icon">
            <i class="fe fe-search"></i>
          </span>
        </a>
      </div>
    </div>
    <!-- / .navbar-collapse -->
  </div>
</nav>
