{% load static %}

<!DOCTYPE html>
<html lang="en">
  {% include "header.html" %}

  <body>
    {% include "baby.sidebar.html" %} 

    <div class="main-content">
      <div class="header">
        <div class="container-fluid">
            <div class="header-body">
              <div class="row align-items-end">
                  <div class="col">
                    <h6 class="header-pretitle">
                      Case Operations
                    </h6>
                    <h1 class="header-title">
                      Search Worker
                    </h1>
                  </div>
              </div> 
            </div> 
        </div>
      </div>
      <div class="container-fluid">
          <div class="alert alert-secondary" role="alert">
            Scan worker's QR code and automatically get redirected to Case Operations or manually fill up one of the fields below.
          </div>
          <div class="row">
              <div class="col-lg-3">
                <label for="twid"><strong>Either</strong> TWID</label>
                <input type="text" class="form-control form-control-lg" id="twid">
              </div>
          </div>
          <div class="row mt-3">
              <div class="col-lg-3">
                <label for="serial_number"><strong>or</strong> Serial Number</label>
                <input type="text" class="form-control form-control-lg" id="serial_number">
              </div>
          </div>
          <div class="row mt-3">
            <div class="col-lg-3">
                <button type="button" class="btn-block btn btn-primary btn-lg">Search</button>
              </div>
          </div>
          <div class="row mt-3">
              <div class="col-lg-3">
                <button type="button" class="btn-block btn btn-light btn-lg">Reset Values</button>
              </div>
            </div>
        </div>
    </div>

    {% include "footer.html" %}
  </body>
</html>